<%- include("header") %>

    <img src="/upload/logo.png" alt="Academy Logo" class="logo">

    <div class="container">
        <h1 class="academy-name">KnowledgeX</h1>
        <p class="tagline">Let's take a deep dive into the sea of Knowledge</p>

        <div class="buttons">
            <button onclick="location.href='/login'">Login</button>
            <button onclick="location.href='/register'">Register</button>
        </div>
    </div>



<%- include("footer") %>